{{!-- <div class="content"> --}}
	<div class="header">
		<div id="repo_name">
		{{name}}
		</div>
		<div id="repo_stats">
			<div id="repo_stars">
			stars {{stargazers_count}}
			</div>
			<div id="repo_forks">
			forks {{forks_count}}
			</div>
		</div>
	</div>

	<div class="commits">
		<ul id="commits">
		</ul>
	</div>
	<button id="loadButton" onclick="controller.loadCommits()">Carregar Mais</button>
{{!-- </div> --}}